.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 1200px) {
  .input-container {
    flex-direction: column;
  }
}
